<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.quiz.lesson06.dao.InternetDAO">
	<insert id="insertInternet" parameterType="map">
		INSERT INTO `internet`
		(
			`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{name}
			, #{url}
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="selectInternetList" resultType="com.quiz.lesson06.model.Internet">
		SELECT
			`id`
			,`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		FROM
			`internet`
	</select>
	
	<select id="selectInternetByUrl" parameterType="string" resultType="com.quiz.lesson06.model.Internet">
		SELECT
			`id`
			,`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		FROM
			`internet`
		WHERE
			`url` = #{url}
	</select>
	
	<delete id="deleteInternet" parameterType="int">
		DELETE
		FROM
			`internet`
		WHERE
			`id` = #{id}
	</delete>
</mapper>